* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lora;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Utility Navbar */


.first-nav {
    background: #111;
    color: #fff;
    padding: 18px 8%;
    width: 100%;

}

.first-nav nav {
    width: 100%;
    display: flex;
    justify-items: center;
}

.utility-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.utility-nav p {
    font-size: 10px;
}

.utility-nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.utility-nav li, .utility-nav a{
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.utility-nav a:hover {
    color: gold;
}


/* Main Navbar */

.second-nav {
    background: #fff;
    padding: 18px 8%;
    border-bottom: 1px solid #ddd;
}

.second-nav nav{
    width: 100%;
    display: flex;
    justify-items: center;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clickables {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
/* 
.nav-icons {
    /* flex: 1;
    display: flex;
    justify-content: flex-end; */
     /* margin-left: auto; 
}*/


.main-nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    
}

.main-nav li, .main-nav a {
    display:flex;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: #111;
}

.main-nav a:hover {
    color: goldenrod;
}

.utility-nav a:active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

.main-nav p{
    font-size: 1rem;
    text-decoration: none;
}


/*Hero Section*/
#hero-section {
    min-height: 100vh;
    background-image: url(/Project/resources/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em auto 1rem;
}

.hero-content {
    justify-items:center;
    align-items: center;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10rem;
    align-content: space-between;
    
}

.hero-content h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: normal;
}

.hero-content p {
    font-family: Raleway;
    font-weight:300x;
}

.hero-content .hero-date {
    margin-top: 0.5rem;
    padding-top: 2rem;
}

.hero-content  p {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}


/* Other Sections */

