* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Utility Navbar */


.first-nav {
    background: #111;
    color: #fff;
    padding: 16px 8px;
    width: 100%;

}

.first-nav nav {
    width: 100%;
    display: flex;
    justify-items: center;
}

.utility-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.utility-nav p {
    font-size: 10px;
}

.utility-nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.utility-nav li, .utility-nav a{
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.utility-nav a:hover {
    color: gold;
}


/* Main Navbar */

.second-nav {
    background: #fff;
    padding: 18px 8%;
    border-bottom: 1px solid #ddd;
}

.second-nav nav{
    width: 100%;
    display: flex;
    justify-items: center;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .nav-icons {
    display: flex;
    gap:1rem;
} */

.main-nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    
}

.main-nav li, .main-nav a {
    display:flex;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: #111;
}

.main-nav a:hover {
    color: goldenrod;
}

.utility-nav a:active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

img {
    width: 2rem;
    height: 2rem;
    /* margin-right: 4rem; */
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}


/*Hero Section*/